/* RESET BÁSICO */
* {
	box-sizing: border-box;
	margin:  0;
	padding:  0;
}

/* HEADER */
header {
	align-items: center;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./img/fundo.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

header h1,
header p {
	color: #fff;
	font-weight: 100;
}

header h1 {
	font-size: 32px;
}

header p {
	font-size: 28px;
	margin-top: 10px;
}

/* SOBRE */
#sobre {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#sobre #foto-perfil {
	border-radius: 100%;
	height: 200px;
	width: 200px;
	margin-top: 15px;
}

h2 {
	font-family: 'Shadows Into Light', cursive;
	margin-top: 15px;
	font-weight: 800;
}

h3 {
	margin-top: 30px;
}

.habilidade {
	height: 200px;
	width: 200px;
	margin-top: 30px;
	text-align: center;
}

.descricao-habilidade {
	font-size: 16px;
	margin-top: 15px;
	margin-left: 10px;
}

.lista-de-habilidades {
	display: flex;
	flex-wrap: wrap;

}

.lista-de-habilidades div {
	margin-left: 25px;
}

.lista-de-habilidades div p {
	width: 200px;
	height: 100px;
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .lista-de-habilidades {
	justify-content: center;
  }
}